<!DOCTYPE html>
<html>
    <body class="all">
        {% extends "layout.html" %}
        {% block content %}
    <div class="home">
            <h1> Exercise: {{workout}} - 3 Sets - 8 reps </h1>
    </div>
    <div class="vid" style="margin-left: 90px; position: absolute;">
        <img src="{{ url_for('pushWorkout_0_muscle')}}">
    </div>
    <div class="err" style="margin-left: 950px; position: absolute;">
        <h1>Form Correction:</h1>
    </div> 
    <a  href="/musclePush_0" style="position:absolute;
            margin-left: 1000px;
            margin-top: 600px; color: black;">Repeat Set?</a>

    <a  href="/musclePush_1" style="position:absolute;
            margin-left: 1350px;
            margin-top: 600px; color: black;">Next Workout</a>
    
    {% endblock %}
    </body>
</html>